<div class="banner">
  <div class="container">
    <div class="banner_main">
      <h2 class="creative">Where dreams come true</h2>
      <h1 class="welcome">WELCOME TO STORE</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="headline_main">
    <div class="headline_sec">Why should you choose us?</div>
  </div >
  <div class="slider">
    <div class="slider_dop onee">
      <%= image_tag("del2.png", class: "slider_img") %>
      <div class="slider_text">Fast delivery</div>
    </div>
    <div class="slider_dop">
      <%= image_tag("pri.png", class: "slider_img") %>
      <div class="slider_text">Lowest prices</div>
    </div>
    <div class="slider_dop one">
      <%= image_tag("qwe.png", class: "slider_img") %>
      <div class="slider_text">Quality assurance</div>
    </div>
  </div>
</div>

<div class="info">
  <div class="inf_item">
      <div class="numbers">62</div>
      <div class="letters">Stores worldwide</div>
  </div>
  <div class="inf_item">
      <div class="numbers">9k+</div>
      <div class="letters">Happy client</div>
  </div>
  <div class="inf_item">
      <div class="numbers">№1</div>
      <div class="letters">In Belarus</div>
  </div>
  <div class="inf_item">
      <div class="numbers">8</div>
      <div class="letters">Store of the Year nominations</div>
  </div>
  <div class="inf_item">
      <div class="numbers">24/7</div>
      <div class="letters">Support</div>
  </div>
</div>


<div class="container_product">
  <div class="work">
    <div class="serch_product">
      <%= search_form_for @q, url: shops_path, html: {method: :get} do |f| %>
      <%= f.search_field :product_name_cont, class: 'form-control file_max-width mb-2'%>
      <%= f.submit class: 'btn btn-primary' %> |
      <%= link_to " Clear", request.path, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
    <% @products.each do |product| %>
      <div class="work_col">
        <div class="card">
          <% if product.image.attached? == false %>
            <%= link_to shop_path(product) do %> 
              <%= image_tag("plh.png", class: " max_img") %>
            <% end %>
          <% else %>
            <%= link_to shop_path(product) do %>
              <%= image_tag(product.image, class: " max_img") %>
            <% end %>
          <% end %>
            
          <div class="card-body">
            <h5 class="card-title"><%= product.product_name %></h5>
            <h5 class="card-text">code: <%= product.vendor_code %></h5>

            <h5 class="card-text">category: <%= product.category.name %></h5>
            <h5 class="card-text"><%= product.price %>$</h5>
            <td><%= link_to 'Show', shop_path(product) %></td>
          </div>
          
          <% if user_signed_in? %>
            <%= form_for @order_item, :html => {:class => "form-inline"},  remote: true do |f|%>
              <div class="form-group mx-sm-3 mb-2">
                <%= f.hidden_field :product_id, :value => product.id, class: "form-control" %>
                <%= f.number_field :quantity, :value => 1, :min =>  1, class: "form-control "%>
                <%= f.number_field :user_id, id: :order_item_user_id, value: current_user.id, type: :hidden %>
              </div>
              <%= f.submit "Add to Card ", class: "btn btn-primary mb-2 ml-3"%>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>




