<footer class="bg-light text-center text-white">
  <div class="container p-4 pb-0">

    <%= image_tag("smsng.png", class: "max_img_partner") %>
    <%= image_tag("app.png", class: "max_img_partner") %>
    <%= image_tag("mzn.png", class: "max_img_partner") %>
    <%= image_tag("adi.png", class: "max_img_partner") %>
    <%= image_tag("nike.png", class: "max_img_partner") %>
    <%= image_tag("huawei.png", class: "max_img_partner") %>
    
     <section class="mb-4">
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://ru-ru.facebook.com/"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="https://twitter.com/?lang=ru"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="https://www.google.com/"
        ><i class="fab fa-google"></i
      ></a>

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2016<span class="footer_end_red"> OnlineStore</span>
  </div>

</footer>