<nav class="navbar navbar-expand-lg navbar-light" bg-light style="background-color: #efefef;">
  <%= link_to 'Online Store', root_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% unless user_signed_in? && current_user.admin? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to cards_path do%>
            <i class="fa-solid fa-cart-shopping fa-1x nav-link"></i>
          <% end %>
        </li>
          <%= link_to "Card", cards_path, class: "nav-link"%>
        </li>
        <li class="nav-item ">
          <% unless current_order.order_items.size == 0 %>
            <%= link_to cards_path do%>
              <%= link_to "#{current_order.order_items.size} items with a value of #{current_order.subtotal }$", cards_path, class: "nav-link"%>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'My orders', all_orders_path, class: "nav-link" %>
        <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Сategories", shops_categories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Аbout us", shops_about_us_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bonus program", shops_bonus_path, class: "nav-link" %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Сontacts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <p class="dropdown-item">+375 29 666 88 99</p>
              <p class="dropdown-item">+375 44 555 66 77</p>
              <p class="dropdown-item">+375 25 444 55 66</p>
              <div class="dropdown-divider"></div>
              <%= link_to "Viber", "https://www.viber.com/ru", class: "dropdown-item viber" %>
              <%= link_to "Instagram", "https://www.instagram.com", class: "dropdown-item inst" %>
              <%= link_to "Telegram", "https://web.telegram.org", class: "dropdown-item tg" %>
            </div>
          </li>
        </li>
      </ul>
    <% end %>
    <span class=" my-2 my-lg-0">      
      <% if session[:order_id].nil? && user_signed_in?%>
        <%= link_to "sign out", destroy_user_session_path, method: :delete %>
      <% elsif !session[:order_id].nil? %>
      Order has been created, place an order to sign out
      <% else %>
        <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </span>
  </div>
</nav>

