<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checkout.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @checkout.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @checkout.address %>
</p>

<p>
  <strong>Pick up:</strong>
  <%= @checkout.pick_up %>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
