
<div class="container">
  <div class="marl">
    <p id="notice"><%= notice %></p>
    <ul class="list-group mb-3"style="max-width: 640px;">
     <div class="card mb-5" style="max-width: 640px;">
      <div class="row g-0">
        <div class="col-md-5">
          <% if @product.image.attached? == false %>
            <%= image_tag("plh.png", class: "img-fluid rounded-start dop") %>
          <% else %>
            <%= image_tag(@product.image, class: "img-fluid rounded-start dop") %>
          <% end %>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title list-group-item">Product name:<%=  @product.product_name %></h5>
            <p class="card-text list-group-item">Product code: <%=  @product.vendor_code %></p>
            <p class="card-text list-group-item">Product price:<%=  @product.price %>$</p>
            <p class="card-text list-group-item">Product description:<%=  @product.description %></p>
            <p class="card-text list-group-item">Product description:<%=  @product.category.name %></p>

            
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Edit', edit_admin_product_path(@product), class: "btn btn-outline-primary mt-2 mb-3" %>
    <%= link_to 'Back', admin_products_path, class: "btn btn-outline-danger mt-2 mb-3" %>
  </div>
</div>


