<% if current_user.admin? %>
<h1 class="text-center">Promocodes</h1>

 <table class="table">
   <thead>
     <tr>
       <th>Code</th>
       <th>Discount</th>
       <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>
     <% @promocodes.each do |promocode| %>
       <tr>
         <td><%= promocode.code %></td>
         <td><%= promocode.discount %>%</td>
         <td><%= link_to 'Show', admin_promocode_path(promocode), class: "btn btn-outline-primary mt-2" %></td>
         <td><%= link_to 'Edit', edit_admin_promocode_path(promocode), class: "btn btn-outline-primary mt-2" %></td>
         <td><%= link_to 'Destroy', admin_promocode_path(promocode), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger mt-2" %></td>
       </tr>
     <% end %>
   </tbody>
 </table>

 <br>

 <%= link_to 'New Promocode', new_admin_promocode_path, class: "btn btn-primary" %>
 <br>
 <%= link_to 'Back', root_path, class: "btn btn-outline-danger mt-2" %>
<% end %>
